* {
  box-sizing: border-box; }

html,
body {
  background-color: #FFFFFF; }

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .parallax__layer img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.parallax__cover {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  height: 4000px;
  width: 100%;
  z-index: 2;
  padding-top: 1000px; }

.parallax__cover__mobile {
  display: none; }

.photo-row {
  display: table;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 150px; }

.photo-col {
  float: left;
  width: 50%;
  padding: 30px; }

.photo-col-r {
  float: right;
  width: 50%;
  padding: 30px; }

.photo {
  display: block;
  margin: auto;
  width: 75%;
  visibility: hidden;
  transition: visibility cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s; }

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important; }

@-webkit-keyframes animat_show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.parallax__layer__0 {
  transform: translateZ(-150px) scale(2.5); }

.parallax__layer__1 {
  transform: translateZ(-100px) scale(2); }

.parallax__layer__2 {
  transform: translateZ(-50px) scale(1.5); }

.parallax__layer__3 {
  transform: translateZ(0px) scale(1); }

.parallax__layer img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../assets/images/title.png) no-repeat;
  width: 3000px;
  height: 800px;
  padding-left: 3000px; }

#title {
  background: url(../assets/images/title.png) no-repeat; }

#sun-moon {
  background: url(../assets/images/sun-moon.png) no-repeat; }

#tya {
  background: url(../assets/images/tya.png) no-repeat; }

#hands {
  background: url(../assets/images/hands.png) no-repeat; }

@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px) {
  #title {
    background: url(../assets/images/title-md.png) no-repeat; }
  #sun-moon {
    background: url(../assets/images/sun-moon-md.png) no-repeat; } }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  #title {
    background: url(../assets/images/title-sm.png) no-repeat; }
  #sun-moon {
    background: url(../assets/images/sun-moon-sm-tall.png) no-repeat;
    height: 1500px !important; }
  #tya {
    background: url(../assets/images/tya-sm.png) no-repeat; }
  #hands {
    background: url(../assets/images/hands-sm.png) no-repeat; }
  .parallax__layer img {
    height: 1000px; }
  .parallax__cover__mobile {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    height: 4000px;
    width: 100%;
    z-index: 2;
    padding-top: 1500px; }
  .parallax__cover {
    display: none; }
  .photo-row {
    margin-bottom: 250px; } }
