@import '../node_modules/compass-mixins/lib/compass/css3';

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;
$old-main-bg: #FEDCC8;
$old-cover-bg: #2D112B;
$new-main-bg: #FFFFFF;
$new-cover-bg: #FFFAAA;

*{
  box-sizing: border-box;
}

html,
body{
  background-color: $new-main-bg;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.parallax__cover{
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 4000px;
  width: 100%;
  z-index: 2;
  padding: 1000px 20px 20px 20px;
}

.photo-row {
    background: $new-cover-bg;
    display: table;
    margin: 0 auto;
}

.photo-col {
    float: left;
    width: 50%;
    padding: 10px;
}

.photo-col img {
    height: 500px;
}

$parallax__layers: 3;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

.parallax__layer img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../assets/images/title.png) no-repeat;
    width: 3000px;
    height: 800px;
    padding-left: 3000px;
}

#title {
    background: url(../assets/images/title.png) no-repeat;
}

#sun-moon {
    background: url(../assets/images/sun-moon.png) no-repeat;
}

#tya {
    background: url(../assets/images/tya.png) no-repeat;
}

#hands {
    background: url(../assets/images/hands.png) no-repeat;
}

@media only screen and (max-width: $breakpoint-desktop), only screen and (max-device-width: $breakpoint-desktop) {
    #title {
        background: url(../assets/images/title-md.png) no-repeat;
    }

    #sun-moon {
        background: url(../assets/images/sun-moon-md.png) no-repeat;
    }
}

@media only screen and (max-width: $breakpoint-tablet), only screen and (max-device-width: $breakpoint-tablet) {
    #title {
        background: url(../assets/images/title-sm.png) no-repeat;
    }

    #sun-moon {
        background: url(../assets/images/sun-moon-sm-tall.png) no-repeat;
        height: 1500px !important;
    }

    #tya {
        background: url(../assets/images/tya-sm.png) no-repeat;
    }

    #hands {
            background: url(../assets/images/hands-sm.png) no-repeat;
        }

    .parallax__layer img {
        height: 1000px;
    }
}